---
title: clab
---
{% include header.html %}
<section>
<div style="float:right; width: 200px; height: 120px; border: 1px solid gray; text-align:center">[group photo]</div>
<p>Intro: Clab is a research group of graduate students working under the guidance Prof. Chris Dyer in the area of 
Computational linguistics. We are a part of the Language Technologies Institute at the School of Computer Science,
Carnegie Mellon University.
<br/>...<br/>...<br/>...</p>
</section>
<section>
<h2>News</h2>
<ul>
<li>We now have a website!</li>
</ul>
</section>
<footer>Designed by Victor Chahuneau</footer>
{% include footer.html %}
